@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: var(--FontePadrao);
}
:root{
    --FonteTitulos: 'Playfair Display', serif;
    --FontePadrao: 'Roboto', sans-serif;
    --FonteBotaoeMenu: 'Montserrat', sans-serif;
    --Vermelho: #FF0000;
    --Branco: #ffffff;
    --Dark: #24252a;
    --Cinza: #808080;
    --CinzaEscuro: #222;
    --CinzaClaro: #E8EFF9;
    --Cinzento: #eee;
    --Dourado: #FFD700;
    --CinzentoEscuro: #444;
    --CinzentoClaro: #ccc;
    --Roxo: #734FE8;
    --Laranja: #dfaf20;
    --Azul: #0073e6;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--Branco);
}


header {
    background-color: var(--Dark);
    box-shadow: 0px 3px 10px var(--Cinzento);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    height: 110px;
}
.logo{
    display: flex;
    align-items: center;
    text-align: center;
}
.logo h1{
    font-size: 2.4rem;
    font-family: var(--FonteTitulos);
    font-weight: bold;
    color: var(--Vermelho);
    text-shadow: 2px 1px #524949;  
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 5px;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-family: var(--FonteBotaoeMenu);
    color: var(--Branco);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
}
.nav-list a:hover{
    text-decoration: underline;
    color: var(--Vermelho);
}
.menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.card-contato{
    background-color: var(--Laranja);
    text-align: center;
    color: white;
    width: 40vw;
}
.card-contato h1{
    margin: 20px;
    text-shadow: 2px 2px 2px black;
}
.card-contato h2{
    text-align: start;
    margin: 0 15px;
}
.card-contato p{
    margin: 10px 20px 20px 20px;
    text-align: justify;
}

.form {
    border: 1px solid black;
    width: 40vw;
    border-radius: 10px;
    background-color: var(--Cinzento);
}
.form h1{
    color: var(--Laranja);
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.form .campo{
    margin-bottom: 20px;
    padding: 15px 10px 0;
}
.form label{
    display: inline-block;
    text-align: start;
    padding-bottom: 5px;
}
.form input{
    background-color: var(--CinzaClaro);
    width: 90%;
    padding: 10px;
    border: 1px solid var(--CinzentoClaro);
    border-radius: 5px;
}
.form textarea{
    display: block;
    background-color: var(--CinzaClaro);
    border: 1px solid var(--CinzentoClaro);
    padding: 8px;
    min-width: 70%;
    max-width: 70%;
    min-height: 100px;
    max-height: 100px;
}
.form #enviar{
    display: block;
    text-align: center;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: rgba(29, 28, 28, 0.904);
    color: var(--Branco);  
    border: none; 
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    
}
.form #enviar:hover{
    background-color: var(--Laranja);
}


.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    background-color: var(--Dark);
}
.copy{
    font-family: var(--FontePadrao);
    margin-right: 50px;
    color: var(--Branco);
}
.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-media li{    
    list-style-type: none;
    cursor: pointer;
    color: var(--Branco);
    font-size: 25px;
}
.social-media li:hover{
    color: var(--Vermelho);
}


body::-webkit-scrollbar {
    width: 8px;            
}
  
body::-webkit-scrollbar-track {
    background: var(--CinzaEscuro);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FFCF00;
}



@media (max-width: 737px){
    .logo h1{
        font-size: 2.3em;
    }
    .nav-item{
        display: none;
    }
    .menu-bar{
        display: block;
        color: var(--Branco);
        cursor: pointer;
        position: relative;
        top: 8px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        transition: 0.8s;
    }
    .mobile-menu a:hover{
        text-decoration: underline;
        color: var(--Vermelho);
    }
    .open{
        display: block;
    }


    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card-contato { 
        width: 90%;
    }
    .container form {
        margin-top: 100px;
        width: 80%;
    }
    .container .form label{
        float: left;
    }
    .container .form textarea{
       display: inline;
    }
}