@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: var(--FontePadrao);
}
:root{
    --Fonte: 'Dancing Script', cursive;
    --FontePadrao: Arial, Helvetica, sans-serif;
    --Vermelho: #FF0000;
    --Branco: #fff;
    --Dark: #24252a;
    --CinzaEscuro: #222;
    --Cinzento: #eee;
    --CinzentoEscuro: #444;
    --Roxo: #734FE8;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--Branco);
}


header {
    background-color: var(--Dark);
    box-shadow: 0px 3px 10px var(--Cinzento);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    height: 100px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 6vh;
    font-family: var(--Fonte);
    font-weight: bold;
    color: var(--Vermelho);
    text-shadow: 2px 1px #524949; 
    
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 5px;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-family: var(--FontePadrao);
    color: var(--Branco);
    font-weight: 500;
}
.nav-list a:hover{
    text-decoration: underline;
    color: var(--Vermelho);
    transition: 1.2s;
}
.menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.card-contato{
    background-color: #dfaf20;
    text-align: center;
    color: white;
    width: 40vw;
}
.card-contato h1{
    margin: 20px;
    text-shadow: 2px 2px 2px black;
}
.card-contato h2{
    text-align: start;
    margin: 0 15px;
}
.card-contato p{
    margin: 20px;
    text-align: justify;
}

.form {
    border: 1px solid black;
    width: 40vw;
    border-radius: 5%;
    background-color: var(--Cinzento);
}
.form h1{
    color: #dfaf20;
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.form .campo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px 0;
}
.form label{
    color: var(--CinzaEscuro); 
    width: 80px;
}
.form input{
    background-color: #E8EFF9;
    border-radius: 20px;
    padding: 8px;
    width: 60%;
}
.form textarea{
    background-color: #E8EFF9;
    border: 1px solid black;
    padding: 8px;
    min-width: 60%;
    max-width: 60%;
    min-height: 100px;
    max-height: 100px;
}
.form #enviar{
    background-color: rgba(29, 28, 28, 0.904);
    color: var(--Branco);
    cursor: pointer;
    border: none;
    width: 150px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    
}
.form #enviar:hover{
    background-color: #dfaf20;
    transition: 0.8s;
}


.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    background-color: var(--Dark);
}
.copy{
    font-family: var(--FontePadrao);
    margin-right: 50px;
    color: var(--Branco);
}
.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-media li{    
    list-style-type: none;
    cursor: pointer;
    color: var(--Branco);
    font-size: 25px;
}
.social-media li:hover{
    color: var(--Vermelho);
}


body::-webkit-scrollbar {
    width: 8px;            
}
  
body::-webkit-scrollbar-track {
    background: var(--CinzaEscuro);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FFCF00;
}



@media (max-width: 737px){
    .nav-item{
        display: none;
    }
    .menu-bar{
        display: block;
        color: var(--Branco);
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu a:hover{
        text-decoration: underline;
        color: var(--Vermelho);
        transition: 0.8s;
    }
    .open{
        display: block;
    }


    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card-contato { 
        width: 80%;
    }
    .container form {
        margin-top: 100px;
        width: 80%;
    }
}