body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.reserva{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 500px;
    padding: 20px;
}
.reserva h1{
    padding: 5px;
    border-bottom: 1px solid black;
    color: blue;
    text-shadow: 1px 1px 1px black;
}
.info strong{
    color: limegreen;
}
.info{
    font-size: 1.5em;
    margin: 0 20px;
    align-self: flex-start;
    text-align: justify;
}
<<<<<<< HEAD

=======
>>>>>>> fd6c32ad8f1dff3b16ec3a02467ba8143e99e473
