@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: var(--FontePadrao);
}
:root{
    --Fonte: 'Dancing Script', cursive;
    --FontePadrao: Arial, Helvetica, sans-serif;
    --Vermelho: #FF0000;
    --Branco: #fff;
    --Dark: #24252a;
    --CinzaEscuro: #222;
    --Cinzento: #eee;
    --CinzentoEscuro: #444;
    --Roxo: #734FE8;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--Branco);
}


header {
    background-color: var(--Dark);
    box-shadow: 0px 3px 10px var(--Cinzento);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    height: 100px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 6vh;
    font-family: var(--Fonte);
    font-weight: bold;
    color: var(--Vermelho);
    text-shadow: 2px 1px #524949; 
    
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 5px;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-family: var(--FontePadrao);
    color: var(--Branco);
    font-weight: 500;
}
.nav-list a:hover{
    text-decoration: underline;
    color: var(--Vermelho);
    transition: 1.2s;
}
.menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}


.container{
    margin: 90px auto;
}
.room {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    margin-bottom: 25vh;
}
.room h2{
    margin-right: 10px;
    padding-bottom: 5px;
    color: var(--Roxo);
    border-bottom: 1px solid rgb(187, 183, 183);
}
.room p{
    margin: 10px 0;
    text-align: justify;      
}
.room img{
    border: 6px double black;
    object-fit: cover;
    object-position: center;
    width: 95%;
    height: 40vw;
    margin: 10px auto;
    
}


.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    background-color: var(--Dark);
}
.copy{
    font-family: var(--FontePadrao);
    margin-right: 50px;
    color: var(--Branco);
}
.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-media li{    
    list-style-type: none;
    cursor: pointer;
    color: var(--Branco);
    font-size: 25px;
}
.social-media li:hover{
    color: var(--Vermelho);
}


body::-webkit-scrollbar {
    width: 8px;            
}
  
body::-webkit-scrollbar-track {
    background: var(--CinzaEscuro);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FFCF00;
}





@media (max-width: 737px){
    .nav-item{
        display: none;
    }
    .menu-bar{
        display: block;
        color: var(--Branco);
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu a:hover{
        text-decoration: underline;
        color: var(--Vermelho);
        transition: 0.8s;
    }
    .open{
        display: block;
    }
}