@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: var(--FontePadrao);
}
:root{
    --FonteTitulos: 'Playfair Display', serif;
    --FontePadrao: 'Roboto', sans-serif;
    --FonteBotaoeMenu: 'Montserrat', sans-serif;
    --Vermelho: #FF0000;
    --Branco: #ffffff;
    --Dark: #24252a;
    --Cinza: #808080;
    --CinzaEscuro: #222;
    --CinzaClaro: #E8EFF9;
    --Cinzento: #eee;
    --Dourado: #FFD700;
    --CinzentoEscuro: #444;
    --CinzentoClaro: #ccc;
    --Roxo: #734FE8;
    --Laranja: #dfaf20;
    --Azul: #0073e6;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 2px;
    background-color: var(--Branco);
    background-image: url('../img/fundo.jpg');
    background-repeat: repeat;
}


header {
    background-color: var(--Dark);
    box-shadow: 0px 3px 10px var(--Cinzento);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    height: 110px;
}
.logo{
    display: flex;
    align-items: center;
    text-align: center;
}
.logo h1{
    font-size: 2.5rem;
    font-family: var(--FonteTitulos);
    font-weight: bold;
    color: var(--Vermelho);
    text-shadow: 2px 1px #524949;   
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 5px;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-family: var(--FonteBotaoeMenu);
    color: var(--Branco);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;;
}
.nav-list a:hover{
    text-decoration: underline;
    color: var(--Vermelho);
    transition: 1.2s;
}
.menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}

.content-about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}
.content-about h2{
    padding-bottom: 5px;
    color: var(--Roxo);
    border-bottom: 1px solid rgb(187, 183, 183);
}
.content-about p{
    margin: 10px 0;
    text-align: justify;      
}


.content-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}
.content-main h2{
    margin-right: 10px;
    padding-bottom: 5px;
    color: var(--Roxo);
    border-bottom: 1px solid rgb(187, 183, 183);
}
.content-main p{
    margin: 10px 0;
    text-align: justify;      
}
.content-main img{
    border: 6px double black;
    object-fit: cover;
    object-position: center;
    width: 95%;
    height: 40vw;
    margin: 10px auto;
    
}


.content-reserve{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: var(--Cinzento);
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
}
.content-reserve form{
    width: 100%;
}
.content-reserve h1{
    color: var(--Laranja);
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.content-reserve .campo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px 10px 0;
}
.content-reserve label{
    padding-bottom: 10px;
    width: 100%;
}
.content-reserve input, select{
    background-color: var(--CinzaClaro);
    padding: 8px;
    width: 80%;
    border: 1px solid var(--CinzentoClaro);
    border-radius: 5px;
}
.content-reserve .obrig{
    margin: 0;
    font-size: 16px;
}
.content-reserve span{
    font-size: 12px;
    margin: 10px;
    color: black;
}
.content-reserve #enviar{
    background-color: rgba(29, 28, 28, 0.904);
    color: var(--Branco);
    cursor: pointer;
    border: none;
    margin: auto;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.5s ease-in-out;
    
}
.content-reserve #enviar:hover{
    background-color: var(--Laranja);
}


.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; 
    background-color: var(--Dark);
}
.copy{
    font-family: var(--FontePadrao);
    margin-right: 50px;
    color: var(--Branco);
}
.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-media li{    
    list-style-type: none;
    cursor: pointer;
    color: var(--Branco);
    font-size: 25px;
}
.social-media li:hover{
    color: var(--Vermelho);
}


body::-webkit-scrollbar {
    width: 8px;            
}
  
body::-webkit-scrollbar-track {
    background: var(--CinzaEscuro);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FFCF00;
}




@media (max-width: 737px){
    .logo h1{
        font-size: 2.3em;
    }
    .nav-item{
        display: none;
    }
    .menu-bar{
        display: block;
        color: var(--Branco);
        cursor: pointer;
        position: relative;
        top: 8px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        transition: 0.8s;
    }
    .mobile-menu a:hover{
        text-decoration: underline;
        color: var(--Vermelho);
    }
    .open{
        display: block;
    }

    
    .content-about{
        width: 70%;
    }
    .content-main { 
        width: 70%;
    }
    .content-reserve {
        margin-top: 60px;
        width: 80%;
    }
}