@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root{
    --Fonte: 'Dancing Script', cursive;
    --Vermelho: rgb(228, 66, 66);
    --Branco: #fff;
    --Dark: #24252a;
}

header {
    background-color: var(--Dark);
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
    font-family: var(--Fonte);
    color: var(--Vermelho);
    text-shadow: 2px 1px rgba(41, 45, 175, 0.859);
}
.logo h1{
    font-size: 6vh;
}
.nav-list {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 5px;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Branco);
    font-weight: 500;
}
.nav-list a:hover{
    text-decoration: underline;
    color: var(--Vermelho);
    transition: 0.8s;
}
.menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}

@media (max-width: 737px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .menu-bar{
        display: block;
        color: var(--Branco);
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu a:hover{
        text-decoration: underline;
        color: var(--Vermelho);
        transition: 0.8s;
    }
    .open{
        display: block;
    }
}